In [22]:
import pandas as pd
import numpy as np

df = pd.read_csv("data4.csv")

print(df.head())

   ARREST_KEY ARREST_DATE            PD_DESC       OFNS_DESC LAW_CAT_CD  \
0   281369711   1/30/2024       SEXUAL ABUSE      SEX CRIMES          F
1   284561406   3/30/2024  STRANGULATION 1ST  FELONY ASSAULT          F
2   284896016    4/6/2024  STRANGULATION 1ST  FELONY ASSAULT          F
3   285569016   4/18/2024  STRANGULATION 1ST  FELONY ASSAULT          F
4   287308954   5/22/2024           JOSTLING        JOSTLING          M

  ARREST_BORO PERP_SEX PERP_RACE  X_COORD_CD  Y_COORD_CD   Latitude  \
0   Manhattan        M     BLACK     1000558      231080  40.800930
1       Bronx        M     BLACK     1004297      242846  40.833209
2   Manhattan        M     BLACK      997304      222853  40.778348
3    Brooklyn        M     BLACK     1010576      175628  40.648698
4   Manhattan        M     WHITE      991530      217373  40.763313

   Longitude                    New Georeferenced Column
0 -73.941098  POINT (-73.9410982410066 40.8009303727402)
1 -73.927554                POINT (-73.927554 40.833209)
2 -73.952863                POINT (-73.952863 40.778348)
3 -73.905128                POINT (-73.905128 40.648698)
4 -73.973717                POINT (-73.973717 40.763313)

In [23]:
print(df.count())

ARREST_KEY                  260503
ARREST_DATE                 260503
PD_DESC                     260503
OFNS_DESC                   260503
LAW_CAT_CD                  259113
ARREST_BORO                 260503
PERP_SEX                    260503
PERP_RACE                   260503
X_COORD_CD                  260503
Y_COORD_CD                  260503
Latitude                    260499
Longitude                   260499
New Georeferenced Column    260499
dtype: int64

In [24]:
df.isna().sum()

ARREST_KEY                     0
ARREST_DATE                    0
PD_DESC                        0
OFNS_DESC                      0
LAW_CAT_CD                  1390
ARREST_BORO                    0
PERP_SEX                       0
PERP_RACE                      0
X_COORD_CD                     0
Y_COORD_CD                     0
Latitude                       4
Longitude                      4
New Georeferenced Column       4
dtype: int64

In [25]:
df = df.dropna()

In [26]:
print(df.count())

ARREST_KEY                  259109
ARREST_DATE                 259109
PD_DESC                     259109
OFNS_DESC                   259109
LAW_CAT_CD                  259109
ARREST_BORO                 259109
PERP_SEX                    259109
PERP_RACE                   259109
X_COORD_CD                  259109
Y_COORD_CD                  259109
Latitude                    259109
Longitude                   259109
New Georeferenced Column    259109
dtype: int64

In [27]:
df.duplicated().sum()

0

In [28]:
df.to_csv("data4.csv.gz", compression="gzip", index=False)

In [29]:
df.replace("(null)", np.nan, inplace=True)

In [30]:
df.count()

ARREST_KEY                  259109
ARREST_DATE                 259109
PD_DESC                     259077
OFNS_DESC                   259077
LAW_CAT_CD                  259101
ARREST_BORO                 259109
PERP_SEX                    259109
PERP_RACE                   259109
X_COORD_CD                  259109
Y_COORD_CD                  259109
Latitude                    259109
Longitude                   259109
New Georeferenced Column    259109
dtype: int64

In [31]:
df = df.dropna()

In [32]:
df.count()

ARREST_KEY                  259077
ARREST_DATE                 259077
PD_DESC                     259077
OFNS_DESC                   259077
LAW_CAT_CD                  259077
ARREST_BORO                 259077
PERP_SEX                    259077
PERP_RACE                   259077
X_COORD_CD                  259077
Y_COORD_CD                  259077
Latitude                    259077
Longitude                   259077
New Georeferenced Column    259077
dtype: int64